@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

body{
  font-size: 100%;
  font-family: 'Droid Serif', serif;
  line-height:1.5;
  background: #ECF0F1 !important;
}
label{
  font-weight: normal;
  color: #58585b;
}

.container {

}

.box {
  padding: 2em;
  color: #0E2430;
}

.header {
  padding-top: 3em;
border-bottom: 1px solid #eee;
padding-bottom: 2em;
text-align: center;
}

.header .name-field h2 {
  font-size: 2.5em;
  margin: 0px;
  font-family: 'Droid Serif', sans-serif;
  color: #7F8C8D;
}

.header .name-field p{
  color: #939597;
  font-size: 1em;
}

.about {
  color: ##0E2430;
background: #1ABC9C;
border-radius: 1em 1em 0 0;
}

.about-text {
  color: #1ABC9C;
background: #0E2430;
}




.personal-data {

}

.education-field {
  padding-bottom: 1em;
}

.box a {
  color: white;
}

.box h2 {
  font-family: 'Droid Serif', serif ;

}

.box label {
  color: #777;
}

.skill-level h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.skill-level p {
  font-weight: bold;
    color: grey;

}

.interests {
  list-style: none;
}


